Proyecto2/Connected Services/ServiceReference1/CajaWSSOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cocacola.cl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cocacola.cl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cocacola.cl/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Volumen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caja" type="tns:Caja" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Caja">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Alto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Ancho" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Largo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="VolumenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VolumenResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="VolumenSoapIn">
    <wsdl:part name="parameters" element="tns:Volumen" />
  </wsdl:message>
  <wsdl:message name="VolumenSoapOut">
    <wsdl:part name="parameters" element="tns:VolumenResponse" />
  </wsdl:message>
  <wsdl:portType name="CajaWSSOAPSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Volumen">
      <wsdl:input message="tns:VolumenSoapIn" />
      <wsdl:output message="tns:VolumenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CajaWSSOAPSoap" type="tns:CajaWSSOAPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://cocacola.cl/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Volumen">
      <soap:operation soapAction="http://cocacola.cl/Volumen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CajaWSSOAPSoap12" type="tns:CajaWSSOAPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://cocacola.cl/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Volumen">
      <soap12:operation soapAction="http://cocacola.cl/Volumen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CajaWSSOAP">
    <wsdl:port name="CajaWSSOAPSoap" binding="tns:CajaWSSOAPSoap">
      <soap:address location="http://localhost:51517/WS/CajaWSSOAP.asmx" />
    </wsdl:port>
    <wsdl:port name="CajaWSSOAPSoap12" binding="tns:CajaWSSOAPSoap12">
      <soap12:address location="http://localhost:51517/WS/CajaWSSOAP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>